.App {
  text-align: center;
  display: grid;
  padding: 10px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto ;
}

.Form {
  grid-column: 1;
  grid-row: 1 / 4;
}

.BreakdownTable {
  grid-column: 2;
  grid-row: 1 / 2;
}

.SpecsOverallTable {
  grid-column: 2;
  grid-row: 2 / 3;
}